{% extends 'base.html.twig' %}

{% block title  %} Abattoir végétal {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    {# <ul>
	    {% for notif in notifications %}
            <li>Invitation du {{notif.createdAt|date('Y-m-d H:i:s') }} - {{notif.authors}} t'as invité à manger - {{notif.id}}</li>
	    {% endfor %}
    </ul> #}

    <main>
        <section>
            <div class="container"> <!-- MARGES -->

                <div class="row">

                    <a href="#">
                        <img class="logo-home img-fluid" src="assets/img/logo/abattoir-vegetal-logo-big-dark.svg" alt="logo">
                    </a>
                    <div class="slogan-home">
                        <p>VEGAN CONCEPTUAL HEALTHY RESTAURANT</p>
                    </div>

                </div>
            </div>
        </section>
    </main>

{% endblock %}
