{% extends 'base.html.twig' %}

{% block title  %} Reservation {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('./assets/css/reservation.css') }}"> {% endblock %}

{% block body %}

<h2>date</h2>


{% endblock %}