/* *************
COMMUN
************** */

/* COULEURS */
:root{
    --foret-noire: rgba(18, 35, 26, 1);
    --bouton-dor: rgba(255, 232, 0, 1);
    --menthe-givree: rgba(71, 212, 179, 1);
    --orange-sanguine: rgba(255,108,39,1);
    --framboise-ecrasee: rgba(232,54,71,1);
    --choux-fleur: rgba(251,250,244,1);
    --sapin: rgba(34, 73, 52, 1);
    --bouton-dor-ombre: rgba(204, 186, 0, 1);
    --menthe-givree-clair: rgba(175, 222, 211, 1);
    --gris-inactif: rgba(184, 184, 184, 1);
    --gris-inactif-champs: rgba(230, 230, 230, 1);
    } 
    
    
    /* regles reponsive typo */
    /* Smallest devices */
    @media (max-width: 576px) { 
        html {
            font-size: 12px;
        }
    }
    
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { 
        html {
            font-size: 12px;
        }
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
        html {
            font-size: 16px;
        }
    }
    
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        html {
            font-size: 16px;
        }
    }
    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) { 
        html {
            font-size: 16px;
        }
    }
    
    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) { 
        html {
            font-size: 16px;
        }
    }
    
         
    /* CSS COMMUN TYPOGRAPHIE */    
    body{
        font-family: 'Gasoek One', sans-serif;
        font-family: 'Work Sans', sans-serif;
        color: var(--foret-noire);
        overflow-x: hidden;
       
    }
        
        
    h1,h2,h3{
        font-family: 'Gasoek One';
        text-transform: uppercase;
    }
        
    h1{
        font-size: 4rem;
    }
        
    H2{
        font-size: 2.2rem;
    }
        
    h3{
        font-size: 1.6rem;
    }
        
    h4{
        font-family: 'Work Sans';
        font-weight: 800;
        font-size: 1.25rem;
    }
        
    p{
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 1.25rem;
    }
        
    .pbig{
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 1.3rem;
    }
        
    .psmall{
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 1.125rem;
    }
        
    .psmallest{
        font-family: 'Work Sans';
        font-weight: 400;
        font-size: 1rem;
    }
        
    .numeros{
        font-family: 'Work Sans';
        font-weight: 900;
        font-size: 5rem;
        text-transform: uppercase;
    }
        
    .titre-on{
        font-family: 'Gasoek One';
        font-size: 2.75rem;
        text-transform: uppercase;
    }
        
    .titre-off{
        font-family: 'Gasoek One';
        font-size: 1.75rem;
        text-transform: uppercase;
    }
        
    .date-big{
        font-family: 'Work Sans';
        font-weight: 800;
        font-size: 2.813rem;
    }
        
    .date-big{
        font-family: 'Work Sans';
        font-weight: 800;
        font-size: 1.875rem;
    }
        
        
    /* BOUTONS */
        
    .bouton {
        display: flex;
        width: 282px;
        padding: 13px 93px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1.5px solid var(--foret-noire, #12231A);
        background: var(--choux-fleur, #FBFAF4);
        text-transform: uppercase;
        border-radius: 0px;
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;   
    }
        
    .bouton-dark{
        display: flex;
        width: 282px;
        padding: 13px 93px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1.5px solid var(--foret-noire, #12231A);
        border-radius: 0px;
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;
        color: var(--choux-fleur);
        background-color: var(--foret-noire);
    }
        
    .bouton-small-transparent{
        display: inline-flex;
        padding: 13px 35px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1.5px solid var(--foret-noire, #12231A);
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
        
    .bouton-small{
        display: inline-flex;
        padding: 13px 35px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1.5px solid var(--foret-noire, #12231A);
        background: var(--choux-fleur, #FBFAF4);
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
        
    .bouton-smallest-transparent{
        width: 109px;
        padding: 7px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1.5px solid var(--foret-noire, #12231A);
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 0.875rem;
        text-transform: uppercase;
        color: var(--foret-noire);
        background-color: transparent;
    }
        
    .bouton-smallest-dark{
        display: flex;
        width: 109px;
        padding: 7px 25px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1.5px solid var(--foret-noire, #12231A);
        background: var(--foret-noire, #12231A);  
        font-family: 'Work Sans';
        font-weight: 600;
        font-size: 0.875rem;
        color: var(--choux-fleur);
        text-transform: uppercase;
    }
        
        .bouton-smallest-hug{
            display: inline-flex;
            padding: 7px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1.5px solid var(--foret-noire, #12231A);
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 0.875rem;
            text-transform: uppercase;    
        }
        
        .bouton-smallest-white{
            display: inline-flex;
            padding: 7px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1.5px solid var(--choux-fleur, #FBFAF4);
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 0.875rem;
            text-transform: uppercase;
            color: var(--choux-fleur);
        }
        
        .bouton-small-white{
            display: inline-flex;
            padding: 13px 35px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1.5px solid var(--choux-fleur, #FBFAF4);
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 1.25rem;
            text-transform: uppercase;
            color: var(--choux-fleur);
        }
    
    /* FIN DU CSS COMMUN */

    /* CSS HEADER */

.header01 {
    margin: 27px 174px;
    background-color: white;
    align-items: center;
}

.iconeheader {
    background-color: var(--foret-noire);
    padding: 8px;
    border-radius: 100px;
}


.test {
    padding-bottom: 0px;
}

.tag {
    margin-bottom: 0 !important;
}

/* .iconeheader.active {
    background-color: var(--menthe-givree);
    padding: 8px;
    border-radius: 100px;
} */

/* FIN DU CSS HEADER */



/* recap de réservation */

#modal-resa .modal-dialog{
    width: 48rem;
}

#modal-resa .modal-content{
    width: 48rem;

    border-radius: 0 !important;
    background-color: var(--choux-fleur);
    border: 2px solid var(--foret-noire);
}

#modal-resa .modal-body{
    padding: 20px;

}
#modal-resa .modal-header{
    border-bottom: 0;
}

#modal-resa .modal-title{
    color: var(--framboise-ecrasee);
    padding: 0px 134px;
}

#modal-resa a{
    text-decoration: underline !important;
    color: var(--foret-noire);
}

#modal-resa .image-ami{
    width: 3rem;
    height: 3rem;
}

#modal-resa .liste-amis{
    padding: 0rem 1.3rem 0.6rem 1.3em;
    border: 1px solid var(--orange-sanguine);
}

#modal-resa iframe{
    width: 15rem;
    height: 10rem;
    border-radius: 0;
    border: 2px solid var(--foret-noire) !important;
}

#modal-resa .modal-resa-footer{
    display: flex;
    width:100% ;
}

#modal-resa .btn-sous{
    width: 50% !important;
    border-bottom:0;
    border-right: 0;
    border-left: 0; 
}

#modal-resa .btn-annuler{
    color: var(--foret-noire);
}

#modal-resa .croix-close-modal-resa{
    top: -2rem;
    left: 36.7rem;
    opacity: 100%;
}

#modal-resa .feuille-modal-resa{
    top: 15rem;
    left: -5rem;
}


/* fin  modale  */



   /* CSS FOOTER */
   footer {
    background-color: var(--foret-noire);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .lienresto {
    text-decoration: underline !important;
    color: var(--choux-fleur);
    font-size: 1rem;
}

footer h3 {
    color: var(--choux-fleur);
}
footer .lien {
    text-decoration: none !important;
    color: var(--choux-fleur);
    font-size: 1rem;
}

footer p {
   color: var(--choux-fleur);
   font-size: 1rem;
   margin-bottom : 0;
}
 footer .form-label {
    color: var(--choux-fleur);
 }

 footer .form-control {
    appearance: none!important;
    border-bottom: solid 1px var(--choux-fleur)!important;
    border-radius : 0px;
    width: 400px;
    margin-right: 15px;
    background-color: transparent;
    border : none;
    color: var(--choux-fleur)!important;
 }

 footer .form-control:focus {
    appearance: none!important;
    border-bottom: solid 1px var(--menthe-givree)!important;
    border-radius : 0px;
    width: 400px;
    margin-right: 15px;
    background-color: transparent;
    border : none;
 }


/* FIN DU CSS FOOTER */