*{
    margin: 0;
    padding: 0;
    font-family: 'Gasoek One', sans-serif;
}
body{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


/* navbar */
header{
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
header div{
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* navbar burger */
header #burger{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #burger img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
/* navbar logo image */
header #logo{
    height: 100%;
    width: 130px;
}
#logo a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #logo a img{
    height: 100%;
    width: 100%;
}
/* navbar navlink */
header nav{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoNavBox{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 3px;
    background: #12231A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoNav{
    width: 80%;
    height: auto;
    cursor: pointer;
}
/* nav responsive */
#navResponsive{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 30;
    display: none;
}
#navResponsive nav{
    margin-top: 10%;
    margin-left: 50px;
}
a{
    text-decoration: none;
}
#navResponsive nav ul li{
    list-style-type: square;
    margin: 30px 40px;
    font-size: 3rem;
    font-weight: 900;
    color: #000;
    text-shadow: 1px 1px 1px #12231A;
    text-transform: uppercase;
    cursor: pointer;
}
#notificationBox{
    position: fixed;
    width: 400px;
    background: #fff;
    border-radius: 2px;
    margin-top: 100px;
    margin-right: 10%;
    right: 0;
    padding: 20px;
    flex-direction: column;
    z-index: 80;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
    height: 600px;
    display: none;
}
#notificationBox article{
    height: 230px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    /* margin: 30px 0px; */
}
#notificationBox h1{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: 900;
    padding-right: -20px;
    font-size: 1.5em;
}
#notificationBox h1 span{
    font-size: 1.5em;
    color: red;
    margin: 0px 10px;
}
#notificationBox h2{
    margin: 10px 0px;
    color: #46D4B3;
    font-weight: 900;
}
#notificationBox p{
    font-size: 0.9em;
}
#notificationBox .dataBox{
    height: 80px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #46D4B3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    height: 65%;
    width: 30%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}
.first h4{
    font-size: 1em;
    margin-left: 10px;
}
.first span{
    font-size: 0.8em;
    margin-left: 10px;
    font-weight: 300;
}
.second{
    height: 65%;
    width: 22%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.second span{
    font-size: 0.75em;
    font-weight: 300;
    margin-top: 3px;
}
.third{
    height: 65%;
    width: 45%;
    background: #fff;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: scroll;
}
.third img{
    height: 50px;
    width: 50px;
}
#notificationBox .btnBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
.btnNotif{
    padding: 4px 20px;
    margin: 0px 5px;
    border: 1px solid #12231A;
    text-transform: uppercase;
    background: none;
    color: #12231A;
    cursor: pointer;
    z-index: 40;
}
.btnNotif:nth-of-type(2){
    padding: 4px 20px;
    margin: 0px 5px;
    background: #12231A;
    border: 1px solid #12231A;
    text-transform: uppercase;
    background: #12231A;
    color: #fff;
    cursor: pointer;
    z-index: 40;
}

/* CSS MON PROFIL */
 
.rectangle{
    background-color:#ffe800;
    position: absolute;
    width: 27%;
    height: 100px;
    margin-top: 144px;
    padding-bottom: 1147px;
    left: 0;
    z-index: -1;
 }
 
 .containerC{
    margin-top: 243px;
    width: 1446px;  
     /* margin-right: 25px;
    margin-left: 85px; */
} 

.titleProfil {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.boxSide{
    display: flex;
    /* justify-content: space-between;  */
}

.titleProfil h2 {
    font-size: 45px;
    color: #12231a;
    text-transform: uppercase;
    font-family: 'Gasoek One';
}

.modifier {
    color:#12231a;
    padding-top:25px;
    font-size: 30px;
}
 
 .icone-modifier{
    width: 30px;
    height: 30px;
  }


 
 
/* card user  */
.cardSide {
    margin-top:65px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.cardSide .cardUser {
    width : 350px;
}
 .cardUserBody{
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);
    background-color: #FBFAF4;
    padding-bottom: 50px ;
 }

 /* haut de la carte */
 .cardUserBody img {
    object-fit: cover;
    width: 100%;
    height: 100%;
 }
 
 /* dessous de la carte */
 
 .cardUserBody .description {
    padding: 34px;
   
 }

.description .name{
   font-weight: 800;
   width: 66%;
 }

.description .drapeau{
   display: flex;
   justify-content: end;
   width: 33%;
 }

.description .drapeau img{
  margin-right:20px ;
 }
 
 .description .cardGender{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
 
  .cardUserBody .infoUser {
    width: 100%;
 }

 .cardUserBody .tag-prefs  {
    margin-top: .7rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row !important;
 }

 .cardUserBody .tag-menthe {
    padding: 6px 15px;
    background: #47D4B3;
    margin-right: 20px;
 }

 .cardUserBody .tag-jaune{
    margin-top: .7rem;
    padding: 6px 10px;
    align-items: center;
    margin-right: 20px;
    font-size: 0.938rem;
    background: #FFE800;
 }

 .cardUserBody .citation {
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
 }
 


 /* card infos  */
.CardInfos{
    margin-top: 15px;
    margin-bottom: 155px;
    display:flex;
    justify-content: space-evenly;
    font-family: 'Work Sans';
    background:  #FBFAF4;
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    padding: 45px 39px;
}

.CardInfos span{
    border-left: 1.5px solid #000;
    display: inline-block;
    height: 40px;
    margin: 0 20px;
  }

.CardInfos p{
    margin-top: 10px;
}

 /* box profil */
 .CardProfil{
 }


/* footer */
footer{
    width: 100%;
    background-color: #12231A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:60px ;
}
#footerContent{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* firstContent */
#footerContent #firstContent{
    height: 70%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#firstContent figure{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#firstContent div{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
#firstContent div span{
    text-decoration: underline;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    text-align: left;
    margin: 4px;
}
/* midlecontent */
#footerContent #midleContent{
    height: 70%;
    width: 500px;
}
#midleContent h3{
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
}
#midleContent span{
    margin-top: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8em;
}
#midleContent div{
    height: 30%;
    margin-top: 30px;
}
#midleContent div input{
    padding: 7px 0px;
    padding-right: 140px;
    background: #12231A;
    border: 0px solid;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    text-align: start;
}
#midleContent div input::placeholder{
    color: #fff;
    opacity: 0.5;
}
#midleContent div button{
    padding: 7px 15px;
    background: #12231A;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}
/* thirdContent */
#footerContent #thirdContent{
    height: 70%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
}
#footerContent #thirdContent span{
    text-transform: lowercase;
    font-size: 0.8em;
}



@media screen and ( max-width : 1664px ) {
    .containerC{
        width: 1146px;  
    } 
}

@media screen and ( max-width : 1454px ) {
    /* .containerC{
        width: 90%;  
    }  */
}

@media screen and ( max-width : 1100px ) {

    /* footer */
    #footerContent{
        width: 90%;
    }
}
@media screen and ( max-width : 970px ) {

    /* footer */
 
    #midleContent div input{
        padding-right: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media screen and ( max-width : 850px ) {
 
    /* footer */
    #footerContent{
        justify-content: space-between;
    }
    /* midlecontent */
    #footerContent #midleContent{
        width: 300px;
    }
    #midleContent div button{
        padding: 7px 50px;
    }
    #midleContent h3{
        margin-top: 0px;
    }
    #midleContent div{
        height: 30%;
        margin-top: 10px;
    }
}
@media screen and ( max-width : 650px ) {
    #footerContent{
        flex-direction: column;
    }

    #footerContent #midleContent{
        display: none;
    }
}
@media screen and ( max-width : 768px ) {
    .rectangle{
        background-color:#ffe800;
        position: absolute;
        width: 45%;
        height: 800px;
        margin-top: 144px;
        padding-bottom: 1147px;
        left: 0;
        z-index: -1;
     }
     
}




