
    /* MUR DE PROFIL */
    #mur {
        margin-top: 98px;
    }
    
    #mur .somanyfriends{
        color: var(--orange-sanguine);
        margin-top: -54px;
        margin-bottom: 102px;
        font-size: 2.9rem
    }
    
    /* #mur .somanyfriends::after{
        content: "";
        display: block;
        width: 12.1875rem;
        height: 0.5625rem;
        background-color: var(--menthe-givree);
        position: absolute;
        right: -4rem;
        bottom: 47rem;
        z-index: -1;
    } */
    
    /* #mur .filtres::before{
        content: "";
        display: block;
        width: 12.1875rem;
        height: 0.5625rem;
        background-color: var(--framboise-ecrasee);
        position: absolute;
        top: 5.55rem;
        left: 27.25rem;
        z-index: -1;
    } */
    
    /* ********
    CSS CARD BIG 
    *********** */
    
    .card-user .entiere {
        box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);
    
    }
    
    /* haut de la carte */
    .card-user .img-user {
        /* object-fit: cover; */
        width: 150px;
         height: 150px; 
    }
    
    /* dessous de la carte */
    
    .card-user .description {
        padding: 34px;
        background-color: var(--choux-fleur);
    }
    
    /* tag à droite */
    
    .card-user .tag-menthe-small {
        padding: 6px 15px;
        background: var(--menthe-givree, #47D4B3);
    }
    
    .card-user .tag-menthe {
        gap: 11px;
        flex-direction: column;
    }
    
    /* Gouts et citation */
    
    .card-user .tag-jaune-small {
        padding: 6px 15px;
        align-items: center;
        background: var(--bouton-dor, #FFE800);
    }
    
    .card-user .citation {
        font-style: italic;
        text-align: center;
        margin-top: 25px;
    }
    
    /* boutons */
    .card-user .a-montrer {
        display: none;
    }
    
    /* CSS de la petite carte */
    
    .card-user.card-small .infos-contact,
    .card-user.card-small .jm,
    .card-user.card-small .jerfuse,
    .card-user.card-small .a-cacher {
        display: none !important;
    }
    
    .card-user.card-small .tag-menthe-cache {
        display: flex !important;
    }
    
    .card-user.card-small .tag-contact {
        padding-top: 0;
    }
    
    .card-user.card-small .desc {
        margin-bottom: 0 ;
        padding: 0;
    }
    
    .card-user.card-small .tag-prefs {
        width: 100%;
    }
    
    .card-user.card-small .tag-prefs .flex-column {
        flex-direction: row !important;
    }
    
    .card-user.card-small .a-montrer {
        display: block;
    }
    
    .card-user.card-small .reduire {
        padding: 7px 25px;
        font-size: 0.875rem;
    }
    
    .card-user.card-small .citation{
        font-size: 0.938rem;
    }
    
    .card-user.card-small .psmall{
        font-size: 0.938rem;
    }
    
    .card-user.card-small .description{
        padding: 20px;
    }
    
    .card-user.card-small .reduire{
        color: var(--foret-noire);
        text-decoration: none;
        padding: 7px 10px;
    }
    
    /* css block des filtres */
    
    #mur .form-check-input{
        width: 16px;
        height: 16px;
        border-radius: 0 !important;
        border: solid 1.5px var(--foret-noire);
        background-color: none;
    }
    
    #mur .conteneur{
        padding: 16px;
    }
    
    #mur .filtres .lisere{
        border: solid 1.5px var(--framboise-ecrasee);
        padding: 16px;
        background-color: var(--bouton-dor);
    }
    
    #mur .filtres h2{
        margin-bottom: 16px;
        margin-top: 16px !important;
    }
    
    #mur .filtres h4{
        margin-bottom: 10px;
    }
    
    #mur .filtres .form-filtres{
        margin-bottom: 16px;
    }
    
    #mur .filtres .form-check-input{
        background-color: #ffffff10;
    }
    
    #mur .label_checkbox{
    font-size: 13px;
    }
    /* FIN DE MUR DE PROFIL */
    
    
    
    
    
    
    
    
    