.smallcard {
    
    width: 350px;
    height: 579px;
    background-color: aqua;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);



}
.bigcard{
    width: 550px;
    height: 1173px;
    flex-shrink: 0;
    background-color: chocolate;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);
}

/*********************teste**********************/

.flex{
    display: flex;
    justify-content: space-around;
}