
/* RESERVATION */

.titreresa {
    margin-top: 6rem;
}

.titreresa h1 {
    color: var(--orange-sanguine);
}

.titreresa a {
    display: inline-flex;
}

.titreresa .boutonresa {
    color: var(--foret-noire)
}

/* ---------------------- */

.mesresasbig p.datesmall {
    font-size: 1.8rem;
    color: var(--menthe-givree);
    font-family: 'Work Sans';
    font-weight: 800;
}


.mesresasbig {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    padding-top: 30px;
    padding-bottom: 52px;
    /* margin-bottom: 150px; */
    height: 100%;

}

.mesresassmall {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    height: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.mesresasbig .add {
    border: 2px solid var(--foret-noire);
    padding: 10px;
}

.mesresasbig .statutbig {
    font-weight: 600;
    color: var(--menthe-givree);
}

.mesresasbig .quimange {
    border: 2px solid var(--orange-sanguine);
    padding: 12px 20px;
}

.mesresasbig .commentaires a {
    text-decoration: underline !important;
    color: var(--foret-noire);
}

.mesresasbig .com {
    font-weight: 800;
}


.mesresassmall {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    padding-left: 0px;
    height: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.datebig {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}


.mesresassmall p {
    font-size: 45px;
    font-weight: 900;

}

.mesresasbig .commentaires .comecrit {
    font-size: 0.9rem;
    margin-left: 15px;
}


.form-control {
    width: 520px;
}

.form-control:focus {
    border-color : var(--menthe-givree);
    box-shadow: var(--menthe-givree)!important;
}


    /* FIN DE RESERVATION */


/* .smallcard {
    
    width: 350px;
    height: 579px;
    background-color: aqua;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);



}
.bigcard{
    width: 550px;
    height: 1173px;
    flex-shrink: 0;
    background-color: chocolate;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);
} */

/*********************teste**********************/

/* .flex{
    display: flex;
    justify-content: space-around;
}

.users{
    background-color: rgb(222, 162, 162);
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}
.user{
    height: 300px;
    background: rgb(185, 185, 221);
    width: 200px;
    border: 2px solid red;
    margin: 10;
    padding: 0;
}
.user figure{
    height: 150px;
    width: 100%;
    background: #761c1c;
    margin: 0;
    padding: 0;
    display: flex;
}
.user figure image{
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.user article{
    height: 150px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
} */