/* *************
COMMUN
************** */

/* COULEURS */
:root {
    --foret-noire: rgba(18, 35, 26, 1);
    --bouton-dor: rgba(255, 232, 0, 1);
    --menthe-givree: rgba(71, 212, 179, 1);
    --orange-sanguine: rgba(255, 108, 39, 1);
    --framboise-ecrasee: rgba(232, 54, 71, 1);
    --choux-fleur: rgba(251, 250, 244, 1);
    --sapin: rgba(34, 73, 52, 1);
    --bouton-dor-ombre: rgba(204, 186, 0, 1);
    --menthe-givree-clair: rgba(175, 222, 211, 1);
    --gris-inactif: rgba(184, 184, 184, 1);
    --gris-inactif-champs: rgba(230, 230, 230, 1);
}

/* regles reponsive typo */
/* Smallest devices */
@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    html {
        font-size: 16px;
    }
}


/* CSS COMMUN TYPOGRAPHIE */
body {
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: var(--foret-noire);
}


h1,
h2,
h3 {
    font-family: 'Gasoek One';
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

H2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 1.25rem;
}

p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 1.25rem;
}

.pbig {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.3rem;
}

.psmall {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 1.125rem;
}

.psmallest {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 1rem;
}

.numeros {
    font-family: 'Work Sans';
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
}

.titre-on {
    font-family: 'Gasoek One';
    font-size: 2.75rem;
    text-transform: uppercase;
}

.titre-off {
    font-family: 'Gasoek One';
    font-size: 1.75rem;
    text-transform: uppercase;
}

.date-big {
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 2.813rem;
}

.date-big {
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 1.875rem;
}


/* BOUTONS */

.bouton {
    display: flex;
    width: 282px;
    padding: 13px 93px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    background: var(--choux-fleur, #FBFAF4);
    text-transform: uppercase;
    border-radius: 0px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.bouton-dark {
    display: flex;
    width: 282px;
    padding: 13px 93px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    border-radius: 0px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--choux-fleur);
    background-color: var(--foret-noire);
}

.bouton-small-transparent {
    display: inline-flex;
    padding: 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    background-color: transparent;
}

.bouton-small {
    display: inline-flex;
    padding: 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    background: var(--choux-fleur, #FBFAF4);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.bouton-smallest-transparent {
    width: 109px;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: var(--foret-noire);
    background-color: transparent;
}

.bouton-smallest-dark {
    display: flex;
    width: 109px;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    background: var(--foret-noire, #12231A);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--choux-fleur);
    text-transform: uppercase;
}

.bouton-smallest-hug {
    display: inline-flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--foret-noire, #12231A);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.bouton-smallest-white {
    display: inline-flex;
    padding: 7px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--choux-fleur, #FBFAF4);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: var(--choux-fleur);
}

.bouton-small-white {
    display: inline-flex;
    padding: 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1.5px solid var(--choux-fleur, #FBFAF4);
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--choux-fleur);
}

/* FIN DU CSS COMMUN */

/* CSS HEADER */

.header01 {
    margin: 27px 174px;
    background-color: white;
    align-items: center;
}

.iconeheader {
    background-color: var(--foret-noire);
    padding: 8px;
    border-radius: 100px;
}


.test {
    padding-bottom: 0px;
}

.tag {
    margin-bottom: 0 !important;
}


/* FIN DU CSS HEADER */

/* CSS PROFIL */

.algue-profil {
    margin-left: 428px;
    margin-top: 408px;
   position: absolute;
   bottom: -170px;
   left: -630px;
}

.marguerite-profil {
    margin-left: 425px;
    margin-top: -30px;
   position: absolute;
   top: -50px;
   left: -550px;


}

a {
    text-decoration: none !important;
}

a h2 {
    font-family: 'Gasoek One';
    text-transform: uppercase;
    color: var(--sapin);
}

a.active {
    position: relative;
}

a.active h2 {
    font-size: 2.813rem;
    color: var(--foret-noire);
}

a.active::after {
    content: "";
    display: block;
    width: 80%;
    height: 16px;
    background-color: var(--menthe-givree);
    position: absolute;
    right: -10px;
    bottom: 10px;
    z-index: -1;
}

a.link-jesuis.active::after {
    background-color: var(--orange-sanguine);
}

a.link-jaime.active::after {
    background-color: var(--framboise-ecrasee);
}

/* JE SUIS */
#jesuis .border-card {
    background: var(--choux-fleur, #FBFAF4);
    /* style card je suis */
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    height: 85%;
    width: 100%;
    margin-top: 12%;
    padding-top: 7%;
    padding-bottom: 7%;
}

#jesuis .titrecard {
    margin-top: -10%;
}

#jesuis .form-check-input:checked {
    background-color: var(--orange-sanguine);
    border-color: var(--orange-sanguine);
    box-shadow: none;
}

#jesuis .align-text {
    width: max-content;
}

#jesuis .date-wrap {
    display: inline-flex;
    flex-wrap: nowrap !important;
}

#jesuis .flex-end {
    padding-left: 20px;
}

#jesuis .stroke-input {
    border: 0px;
    border-bottom: 1.5px solid var(--foret-noire, #12231A);
    width: 100%;
    background-color: transparent;
}

#jesuis .stroke {
    border: none;
    border-bottom: 1.5px solid var(--foret-noire, #12231A);
    width: 4%;
    height: 1.3em;
    background-color: transparent;
    text-align: center;
}

#jesuis .stroke-year {
    border: none;
    border-bottom: 1.5px solid var(--foret-noire, #12231A);
    width: 8%;
    height: 1.3em;
    background-color: transparent;
    text-align: center;
}

/* 2ème partie card */

#jesuis .maDiv {
    vertical-align: top;
    display: inline-block;
}

#jesuis .largeur {
    width: 91px;
    height: 91px;
    border: 1.5px solid var(--foret-noire, #12231A);
}

#jesuis .size-btn {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 0.800rem;
    padding: 1%;
}

#jesuis .wrap-bouton {
    display: inline-flex;
}

#jesuis .position-bouton {
    margin-left: 17%;
    padding-top: 10%;

}

/* 3ème partie card */



#jesuis .preferences {
    display: none;
    flex-wrap: wrap;
}

#jesuis .preferences+label {
    display: inline-flex;
    width: 19%;
    height: auto;
    padding: 1% 7%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1.5px solid var(--orange-sanguine, #FF6C27);
    text-decoration: var(--foret-noire, #12231A);
    background-color: transparent;
}

#jesuis .preferences.demoyes:hover+label {
    background-color: transparent;
    border: 3px solid var(--orange-sanguine, #FF6C27);
}

#jesuis .preferences.demoyes:checked+label {
    background-color: transparent;
    border: 3px solid var(--orange-sanguine, #FF6C27);
}

#jesuis .margin-radio+label {
    margin-left: 1%;
}

#jesuis .jesuisbouton {
    margin-top: 4%;
    margin-left: 91.4%;
}

/* FIN DE JESUIS */

/* J'AIME */
#jaime .colcardjaime{
   position: relative;
}

#jaime .cardjaime {
    background: var(--choux-fleur, #FBFAF4);
    /* style card je suis */
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    font-size: 20px;
    padding-left: 122px;
    padding-right: 122px;
    padding-top: 69px;
    padding-bottom: 69px;
    margin-bottom: 50px;
    margin-top: 9%;
   position: relative;
   z-index: 100;
}

#jaime .btn-outline-primary {
    padding: 20px 31px !important;
}

#jaime .jaimechoice {
    background-color: none;
    border: 1.5px solid var(--framboise-ecrasee);
    border-radius: 0px;
    padding: 17px 10px !important;
    color: var(--foret-noire);
    font-size: 18px;
    width: 175px;
    margin-top: 25px;
    margin-bottom: 49px;
    padding-left: 32px;
}

#jaime input[type="checkbox"].btn-check:checked+label {
    background-color: transparent !important;
    border: 3px solid var(--framboise-ecrasee) !important;
    font-weight: 600 !important;
    color: var(--foret-noire);
}

#jaime .btn-check+.btn:hover {
    color: var(--foret-noire);
    background-color: transparent;
    border-color: var(--framboise-ecrasee);
}

#jaime .stroke-input {
    border: 0px;
    border-bottom: 1.5px solid var(--foret-noire, #12231A);
    width: 838px;
    background-color: transparent;
    margin-top: 30px;
}


#jaime .choice {
    width: 100%;
}


#jaime .gouts {
    margin: auto;
}

#jaime .jaimebouton {
    margin-bottom: 50px;
}

#jaime .titrecard {
   margin-top: -13%;
}

/* FIN DE J'AIME */


/* JEVEUX */

#jeveuxV2 {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    margin-top: 150px;
    margin-bottom: 45px;
    padding-top: 71px;
    padding-bottom: 71px;
}

#jeveuxV2 .jeveuxchoice {
    background-color: none;
    border: 1.5px solid var(--menthe-givree);
    border-radius: 0px;
    color: var(--foret-noire);
    font-size: 15px;
}

input[type="radio"].btn-check:checked+label {
    background-color: transparent !important;
    border: 3px solid var(--menthe-givree) !important;
    font-weight: 600 !important;
}


#jeveuxV2 .iconchoice {
    margin-bottom: 12px;
}

#jeveuxV2 .interchoice {
    color: var(--foret-noire);
    font-family: Work Sans;
    font-size: 18px;
}

#jeveuxV2 .form-check-input:checked {
    background-color: var(--menthe-givree);
    border-color: var(--menthe-givree);
    box-shadow: none;
}

/* CSS TAG */

#jeveuxV2 .tag-menthe-small {
    padding: 6px 15px;
    align-items: center;
    gap: 20px;
    background: var(--menthe-givree, #47D4B3);
    margin-bottom: 10px;
}


#jeveuxV2 .criteres {
    border-bottom: 1.5px solid var(--foret-noire);
}


#jeveuxV2 .titrecard {
    margin-top: -100px;
}


.jeveuxbouton {
    margin-bottom: 50px;
}

/* FIN DE JEVEUX */


/* MUR DE PROFIL */
#mur .tout {
    margin-top: 98px;
}

#mur .somanyfriends {
    color: var(--orange-sanguine);
    margin-top: -54px;
    margin-bottom: 102px;
    font-size: 2.9rem
}

#mur .somanyfriends {
    position: relative;
}
#mur .somanyfriends::after {
    content: "";
    display: block;
    width: 12rem;
    height: 0.5rem;
    background-color: var(--menthe-givree);
    position: absolute;
    left: 180px;
    bottom: -20px;
    z-index: -1;
}
#mur .filtres {
    position: relative;
}

#mur .filtres::before {
    content: "";
    display: block;
    width: 12.2rem;
    height: 10px;
    background-color: var(--framboise-ecrasee);
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: -1;
}



/* ********
    CSS CARD BIG 
    *********** */
#users_list .col-left {
    margin-right: 20px;
}    
.card-user.card-small {
    width: 330px;
}
.card-user {
    width: 500px;
}
.card-user .entiere {
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.08);

}

/* haut de la carte */
.card-user .img-user {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* dessous de la carte */

.card-user .description {
    padding: 34px;
    background-color: var(--choux-fleur);
}

/* tag à droite */

.card-user .tag-menthe-small {
    padding: 6px 15px;
    background: var(--menthe-givree, #47D4B3);
}

.card-user .tag-menthe {
    gap: 11px;
    flex-direction: column;
}

/* Gouts et citation */

.card-user .tag-jaune-small {
    padding: 6px 15px;
    align-items: center;
    background: var(--bouton-dor, #FFE800);
}

.card-user .citation {
    font-style: italic;
    text-align: center;
    margin-top: 25px;
}

/* boutons */
.card-user .a-montrer {
    display: none;
}


/* CSS de la petite carte */

.card-user.card-small .infos-contact,
.card-user.card-small .jm,
.card-user.card-small .jerfuse,
.card-user.card-small .a-cacher {
    display: none !important;
}

.card-user.card-small .tag-menthe-cache {
    display: flex !important;
}

.card-user.card-small .tag-contact {
    padding-top: 0;
}

.card-user.card-small .desc {
    margin-bottom: 0;
    padding: 0;
}

.card-user.card-small .tag-prefs {
    width: 100%;
}

.card-user.card-small .tag-prefs .flex-column {
    flex-direction: row !important;
}

.card-user.card-small .a-montrer {
    display: block;
}

.card-user.card-small .reduire {
    padding: 7px 25px;
    font-size: 0.875rem;
}

.card-user.card-small .citation {
    font-size: 0.938rem;
}

.card-user.card-small .psmall {
    font-size: 0.938rem;
}

.card-user.card-small .description {
    padding: 20px;
}

.card-user.card-small .reduire {
    color: var(--foret-noire);
    text-decoration: none;
    padding: 7px 10px;
}

.card-user .bt-zoom {
    width: 30px;
    height: 30px;
    background-image: url('../img/icones/zoom/zoom-retrecir.svg');
    background-size: cover;
}

.card-user.card-small .bt-zoom {
    background-image: url('../img/icones/zoom/zoom-agrandir.svg');
}
.card-user {
    transition-duration: 1s ;
}

/* css block des filtres */

#mur .filtres input[type='checkbox'] {
    width: 16px;
    height: 16px;
    border-radius: 0 !important;
    border: solid 1px var(--foret-noire);
    background-color: none;
}

#mur .filtres input[type='checkbox']:checked:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 1px ;
    margin-top: 1px ;
    background-color: black;
}

#mur .conteneur {
    background-color: var(--bouton-dor);
    padding: 16px;
}

#mur .filtres .lisere {
    border: solid 1.5px var(--framboise-ecrasee);
    padding: 16px;
}

#mur .filtres h2 {
    margin-bottom: 16px;
    margin-top: 16px !important;
}

#mur .filtres h4 {
    margin-bottom: 10px;
}

#mur .filtres .form-filtres {
    margin-bottom: 16px;
}

#mur .filtres .form-check-input {
    background-color: #ffffff10;
}

/* FIN DE MUR DE PROFIL */

/* RESERVER */
#reserver{
    margin-top: 6rem;
}   ²

#reserver .title-screen{
    left: 4rem;
    top: -2.5rem;
    color: var(--framboise-ecrasee);
}

#reserver .numero-un{
    top: -3rem;
    left: -0.5rem; 
}

#reserver .numero-deux{
    top: 10rem;
    left: 5rem; 
}

#reserver .algue{
    width: 11rem;
    height: 31.25rem;
    top: 20rem;
    right: 74rem;
    animation: move-algue-reserver ease-in-out 600ms;
}

#reserver .bande-orange{
    height: 105rem;
    width: 32rem;
    background-color: var(--orange-sanguine);
    top: -50rem;
    left: 60rem;
}

/* Calendrier */

#reserver .fond-calendar{
    padding: 1rem;
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
}

#reserver .lisere-calendar{
    border: 2px solid var(--orange-sanguine);
    padding: 2rem;
}

#reserver .numeros{
    top: -3rem;
    left: -0.5rem;
}

#reserver .calendar{
    margin: auto;
    width: 350px;
}

#reserver .header-calendar{
    margin-right: auto;
    margin-left: auto;
}

#reserver .day{
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-bottom: 0;
}

#reserver .liste-dates{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#reserver .grille{
    border-bottom: solid 2px var(--foret-noire)!;
}

#reserver .dates{
    background-color: var(--choux-fleur);
    border-top: 2px solid var(--foret-noire);
    border-left: 2px solid var(--foret-noire);
    border-right: 0;
    border-bottom: 0;
    border-radius: 0px;
    color: var(--foret-noire);
    font-size: 15px;
    width: 50px;
    height: 50px;
    padding: 13px;
}

#reserver .border-right{
    border-right: 2px solid var(--foret-noire);
}

#reserver .border-bottom{
    border-bottom: 2px solid var(--foret-noire) !important;
}

#reserver .dates:hover{
    background-color: var(--menthe-givree-clair);
}

#reserver .dates:active{
    background-color: var(--menthe-givree);
}

/* HORAIRES */

#reserver .fond-horaires{
    background-color: var(--choux-fleur);
    padding: 1rem;
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
}

#reserver .lisere-horaires{
    border: solid 2px var(--menthe-givree);
    padding: 2rem 2rem;
}

#reserver .title-card{
    margin-bottom: 3rem;
}

#reserver .title-hour{
    margin-bottom: 0.81rem;
}

#reserver .tag-horaire-vert{
    cursor: pointer;
    width: 6rem;
    padding: 10px 20px;
    border: solid 1px var(--menthe-givree);
}

#reserver .tag-horaire-rose{
    display: inline-block;
    padding: 10px 20px;
    border: solid 1.5px var(--framboise-ecrasee);
}

#reserver .tag-horaire-vert:active{
    box-shadow:0px 0px 0px 3px var(--menthe-givree) inset;
    font-weight: 600;
}

#reserver .btn-valider{
    margin-top: 2rem;
    color: var(--foret-noire);
}

/* animations */
@keyframes move-algue-reserver {
    0%{
        top: 50rem;
        right:74rem;
    }

    100%{
        top: 20rem;
        right: 74rem;
    }
    
}

/* base */

/* POP-UPS */

/* recap de réservation */

#modal-resa .modal-dialog{
    width: 48rem;
}

#modal-resa .modal-content{
    width: 48rem;

    border-radius: 0 !important;
    background-color: var(--choux-fleur);
    border: 2px solid var(--foret-noire);
}

#modal-resa .modal-body{
    padding: 20px;

}
#modal-resa .modal-header{
    border-bottom: 0;
}

#modal-resa .modal-title{
    color: var(--framboise-ecrasee);
    padding: 0px 134px;
}

#modal-resa a{
    text-decoration: underline !important;
    color: var(--foret-noire);
}

#modal-resa .image-ami{
    width: 3rem;
    height: 3rem;
}

#modal-resa .liste-amis{
    padding: 0rem 1.3rem 0.6rem 1.3em;
    border: 1px solid var(--orange-sanguine);
}

#modal-resa iframe{
    width: 15rem;
    height: 10rem;
    border-radius: 0;
    border: 2px solid var(--foret-noire) !important;
}

#modal-resa .modal-resa-footer{
    display: flex;
    width:100% ;
}

#modal-resa .btn-sous{
    width: 50% !important;
    border-bottom:0;
    border-right: 0;
    border-left: 0; 
}

#modal-resa .btn-annuler{
    color: var(--foret-noire);
}

#modal-resa .croix-close-modal-resa{
    top: -2rem;
    left: 36.7rem;
    opacity: 100%;
}

#modal-resa .feuille-modal-resa{
    top: 15rem;
    left: -5rem;
}


/* modale booléenne */



/* JE ME CONNECTE */

.card-connexion {
    display: flex;
    background: var(--choux-fleur, #FBFAF4);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    width: 592px;
    height: 651px;
    margin-top: 150px;
}

#card-connexion .monstera-ptn{
    top: 250px;
    right: 875px;
}

#card-connexion .leaf-ptn{
    top: 175px;
    right: 310px;
}

#card-connexion .titre-connexion {
    position: absolute;
    top: 119px;
    right: 935px;
}

#card-connexion .card-liseret {
    border: 2px solid var(--orange-sanguine);
    width: 100%;
    height: 94.5%;
    margin: 3%;

}

#card-connexion .input-mt {
    margin-top: 15%;
}

#card-connexion .size-connexion {
    display: block;
    text-align: left;
    width: 454px;
    height: 58px;
    margin: auto;
    background-color : var(--gris-inactif-champs);
    text-transform: initial;
}

#card-connexion .MDP-center {
    display: block;
    text-align: center;
    color: var(--foret-noire);
    text-decoration: underline !important;
}



#card-connexion .size-bouton {
    display: block;
    width: fit-content;
    padding: 1% 5%;
    margin: auto;
    color: var(--foret-noire)
}


#card-connexion .comment {
    position: absolute;
    right: 300px;
    top: 760px;
    color: var(--foret-noire, #12231A);
    text-decoration: underline !important;
}

/* FIN DE JE ME CONNECTE */

/* JE M'INSCRIS */

.card-inscription {
    display: flex;
    position: relative;
    background: var(--choux-fleur, #FBFAF4);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    width: 592px;
    height: 651px;
    margin-top: 150px;
}

#card-inscription .titre-inscription {
    position: absolute;
    top: -31px;
    right: 380px;
    color: var(--framboise-ecrasee);
}

#card-inscription .card-liseret {
    border: 2px solid var(--orange-sanguine);
    width: 100%;
    height: 94.5%;
    margin: 3%;

}

#card-inscription .monstera-ptn{
    top: 100px;
    right: -755px;
} 

#card-inscription .algue-ptn{
    top: 400px;
    right: 425px;
}

#card-inscription .input-mt {
    margin-top: 8%;
}

#card-inscription .size-connexion {
    display: block;
    text-align: left;
    width: 454px;
    height: 58px;
    margin: auto;
    background-color: var(--gris-inactif-champs);
    text-transform: initial;
}

#card-inscription .MDP-center {
    display: block;
    text-align: center;
    color: var(--foret-noire);
    text-decoration: none;

}

#card-inscription .MDP-center-2 {
    color: var(--foret-noire);
}

#card-inscription .size-bouton {
    display: block;
    width: fit-content;
    padding: 1% 5%;
    margin: auto;
    color: var(--foret-noire);
}


#card-inscription .comment {
    position: absolute;
    right: -398px;
    top: 610px;
    color: var(--foret-noire, #12231A);
    text-decoration: underline !important;
}

#card-inscription .underline {
    text-decoration: underline !important;
}

/* FIN DE JE M'INSCRIS */

/* COMMENT CA MARCHE */


#commentcamarche .titre {
    color: var(--framboise-ecrasee)
}

#commentcamarche .cardinscris {
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    background-color: var(--choux-fleur, #FBFAF4);
    padding: 16px;
}

#commentcamarche .border1 {
    border: 2px solid var(--orange-sanguine);
    padding: 16px;
}

#commentcamarche .numero1 {
    position: absolute;
    color: var(--orange-sanguine);
    top: 158px;
    right: 1595px;
}

#commentcamarche .feuille-ptn1 {
    top: 250px;
    right: 1525px;
}

#commentcamarche .border2 {
    border: 2px solid var(--menthe-givree);
    padding: 16px;
}

#commentcamarche .numero2 {
    position: absolute;
    color: var(--menthe-givree);
    top: 158px;
    right: 1100px;

}

#commentcamarche .feuille-ptn2 {
    top: 400px;
    right: 750px;
    height: 300px;
    width: 300px;
}

#commentcamarche .border3 {
    border: 2px solid var(--framboise-ecrasee);
    padding: 1rem;
}

#commentcamarche .numero3 {
    position: absolute;
    color: var(--framboise-ecrasee);
    top: 19.875rem;
    right: 31.8125rem;
}

#commentcamarche .feuille-ptn3 {
    top: 5.47rem;
    right: 13.125rem;
}

#commentcamarche .margin2 {
    margin-left: 12.495%;
}

#commentcamarche .position-bouton {
    width: max-content;
    margin-left: 84.5%;
    margin-top: 3%;
    color: var(--foret-noire, #12231A);   
    margin-bottom: 3.125rem; 
}

/* FIN DE COMMENT CA MARCHE */

/* POPUPCOMMENT CA MARCHE */

.popupcard {
    background-color: #FFFFFF;
    margin-top: 3.75rem;
}

#popupcomment .cross-popup {
    position: absolute;
    width: 11.5rem;
    height: 11.25rem;
    top: -0.6rem;
    right: 14rem;
}

#popupcomment .titre {
    color: var(--framboise-ecrasee)
}

#popupcomment .cardinscris {
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    background-color: var(--choux-fleur, #FBFAF4);
    padding: 1rem;
}

#popupcomment .border1 {
    border: 2px solid var(--orange-sanguine);
    padding: 1rem;
}

#popupcomment .numero1 {
    position: absolute;
    color: var(--orange-sanguine);
    top: 14.7rem;
    right: 95.25rem;
}

#popupcomment .border2 {
    border: 2px solid var(--menthe-givree);
    padding: 1rem;
}

#popupcomment .numero2 {
    position: absolute;
    color: var(--menthe-givree);
    top: 14.7rem;
    right: 68.8rem;
}

#popupcomment .border3 {
    border: 2px solid var(--framboise-ecrasee);
    padding: 1rem;
}

#popupcomment .numero3 {
    position: absolute;
    color: var(--framboise-ecrasee);
    top: 14.7rem;
    right: 42.5rem;
}

#popupcomment .margin1 {
    margin-left: 5.4%;
}

#popupcomment .margin2 {
    margin-left: 7%;
}

/* FIN DE POPUP COMMENT CA MARCHE */


/* CSS MON PROFIL */

#profil{
    position: relative;
 }
 
 #profil .rectangle{
    background-color:var(--bouton-dor);
    position: absolute;
    width: 708px;
    height: 1000px;
    top: 56px;
    left: 0;
    z-index: 1;
 }
 
 #profil .titre-card-profil{
    margin-bottom: -50px;
 }
 
 #profil .mes-informations{
    margin-top: 100px;
    margin-bottom: 65px;
 }
 
 #profil .infoprofil{
    display:flex;
    justify-content: space-evenly;
    width: 1300px;
    height: 90px;
    font-family: 'Work Sans';
    background: var(--choux-fleur, #FBFAF4);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    padding: 25px 39px;
 }
 
 #profil .vertical-line{
    border-left: 1.5px solid #000;
    display: inline-block;
    height: 40px;
    margin: 0 20px;
  }
 
  #profil .algue-verte-profil{
    margin-top: -500px;
    padding-left: 1200px;
  }
 
  #profil .icone-modifier{
    width: 30px;
    height: 30px;
  }
 
  #profil .lien-modifier{
    color: var(--foret-noire);
  }
 /* FIN DU CSS MON PROFIL */
 
 /* DEBUT CSS HOME */
 
 .header{
 width: 100%; 
 background: none;  
 }
 
 #home .home-fond{
    
    width: 1920px;
    height: 1280px;
    background: url(<path-to-image>), lightgray -241.353px -261px / 125.141% 148.333% no-repeat, #FBFAF4;
    background-size: 150px;
    position: fixed; 
    top: 0; 
    left: 0; 
 }
 
 #home .logo-home{
    height: 550px;
    width: 700px;
    display: block;
    margin: auto;
    margin-top: -250px;
    padding-top: 300px;
    
 }
 #home{
    background-image: url(../img/background/pexels-ella-olsson-1640770.jpg);
    background-size: cover;
    height: 100vh;
 }
 
 #home .slogan-home{
    text-align: center;
    font-family: 'Work Sans';
    color: var(--foret-noire);
 }
 
 #home .navbar-home{
    padding-top: 50px;
    padding-right: 90px;
 }
 
 #home .bouton-gmaf{
    padding-bottom: 6px;
 }
 
 #home .bouton-cec{
    padding-bottom: 7px;
 }
 
 
 /* FIN CSS HOME */

 /* RESERVATION */

.titreresa {
    margin-top: 6rem;
}

.titreresa h1 {
    color: var(--orange-sanguine);
}

.titreresa a {
    display: inline-flex;
}

.titreresa .boutonresa {
    color: var(--foret-noire)
}

/* ---------------------- */

.mesresasbig p.datesmall {
    font-size: 1.8rem;
    color: var(--menthe-givree);
    font-family: 'Work Sans';
    font-weight: 800;
}


.mesresasbig {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    padding-top: 30px;
    padding-bottom: 52px;
    /* margin-bottom: 150px; */
    height: 100%;

}

.mesresassmall {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    height: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.mesresasbig .add {
    border: 2px solid var(--foret-noire);
    padding: 10px;
}

.mesresasbig .statutbig {
    font-weight: 600;
    color: var(--menthe-givree);
}

.mesresasbig .quimange {
    border: 2px solid var(--orange-sanguine);
    padding: 12px 20px;
}

.mesresasbig .commentaires a {
    text-decoration: underline !important;
    color: var(--foret-noire);
}

.mesresasbig .com {
    font-weight: 800;
}


.mesresassmall {
    background-color: var(--choux-fleur);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.14);
    padding-left: 0px;
    height: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.datebig {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}


.mesresassmall p {
    font-size: 45px;
    font-weight: 900;

}

.mesresasbig .commentaires .comecrit {
    font-size: 0.9rem;
    margin-left: 15px;
}


.form-control {
    width: 520px;
}

.form-control:focus {
    border-color : var(--menthe-givree);
    box-shadow: var(--menthe-givree)!important;
}


    /* FIN DE RESERVATION */


    /* CSS FOOTER */
    footer {
        background-color: var(--foret-noire);
        padding-top: 60px;
        padding-bottom: 60px;
    }

    footer .lienresto {
        text-decoration: underline !important;
        color: var(--choux-fleur);
        font-size: 1rem;
    }

    footer h3 {
        color: var(--choux-fleur);
    }
    footer .lien {
        text-decoration: none !important;
        color: var(--choux-fleur);
        font-size: 1rem;
    }

    footer p {
       color: var(--choux-fleur);
       font-size: 1rem;
       margin-bottom : 0px;
    }
     footer .form-label {
        color: var(--choux-fleur);
     }

     footer .form-control {
        appearance: none!important;
        border-bottom: solid 1px var(--choux-fleur)!important;
        border-radius : 0px;
        width: 400px;
        margin-right: 15px;
        background-color: transparent;
        border : none;
        color: var(--choux-fleur)!important;
     }

     footer .form-control:focus {
        appearance: none!important;
        border-bottom: solid 1px var(--menthe-givree)!important;
        border-radius : 0px;
        width: 400px;
        margin-right: 15px;
        background-color: transparent;
        border : none;
     }

    
    /* FIN DU CSS FOOTER */