 :root{
    /* font-family */
    --font-mono: 'Gasoek One', sans-serif;
    --font-sans: 'Work Sans', sans-serif;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-extrabold: 900;

    /* text font-size */
    --h1: 65px;
    --h2: 35px;
    --h3: 35px;
    --h4: 20px;

    --button: 20px;
    --title-size: 28px;
    --title-size-xl: 44px;
    --date-size: 30;
    --date-size-xl: 45px;
    --numeros:80px;


    /* colors */
    --white-chouxfleur : #FBFAF4;

 }     


body {
  background: #ffffff;
  background-image: url("../img/background/registerBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  width: 1082px;
  padding: 69px 131px 69px 122px;
  gap: 28px;
  font-family: var(--font-sans);
  margin: 0 auto; 
}


.box8{
  box-shadow: 0px 0px 5px 1px #999;
  background-color: var(--white-chouxfleur);
  width: 75%;
  right: 0;
}

.mx-t3{
  margin-top: -3rem;
}      

label{
  font-weight: 600;
  color: #666;
}

.labelalign{
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 20px; 
}

.labelalign input[type=text]{
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #000000;
  margin-bottom: 1rem;
}
      
   
    