 <footer class="mt-5">

        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column justify-content-between">
                    <a href="{{ path('app_home_index') }}">
                        <img src="../assets/img/logo/abattoir-vegetal-logo-small-light.svg" alt="">
                    </a>

                    <div>
                        <p> <a class="lienresto" href="#"> Rive droite</a></p>
                        <p> <a class="lienresto" href="#"> Rive gauche</a></p>
                    </div>
                </div>


                <div>
                    <h3>Newsletter</h3>
                    <p> Promis, que des nouvelles ultra fraîches !</p>


                    <div>
                        <p>Votre adresse email</p>
                        <div class="d-flex justify-content-between align-items-baseline">
                            <div>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>

                            <div>
                                <a class="bouton-smallest-white ml-2" href="{{ path('app_register') }}">je m'inscris</a>
                            </div>
                    
                    


                </div>

                <div class="d-flex flex-column justify-content-between">
                    <p> <a class="lien" href="#"> Nos partenaires</a></p>
                    <p> <a class="lien" href="#"> Rejoins l’équipe</a></p>
                    <p> <a class="lien" href="#">Ils nous kiffent</a></p>
                    <p> <a class="lien" href="#"> Mentions légales</a></p>
                </div>
            </div>


        </div>
    </footer>