 <header>

        <nav class="d-flex justify-content-between header01">
            <div class="d-flex"> <!-- MENU BURGER -->
                <a href="{{ path('app_home') }}"><img src="../assets/img/icones/menuburger/menu-burger-dark.svg" alt=""></a>
            </div>

            <a id="logo" href="{{ path('app_home') }}"> <!-- LOGO -->
                <img src="../assets/img/logo/abattoir-vegetal-logo-medium-dark.svg" alt="Logo yogasaloon">
            </a>

            <div class="d-flex">
                <a class="iconeheader me-2" href="{{ path('app_user_profil_success') }}"><img class="test" src="../assets/img/icones/profil/profil-small-light.svg"
                        alt=""></a>
                {# <a class="iconeheader me-2" type="button" data-bs-toggle="modal" data-bs-target="#modal-resa"><img src="../assets/img/icones/notifications/notification-small-light.svg" #}
                <a class="iconeheader me-2" ><img src="../assets/img/icones/notifications/notification-small-light.svg"
                        alt=""></a>
                <a class="iconeheader" href="{{ path('app_get_resa') }}"><img src="../assets/img/icones/reservation/reservation-small-light.svg"
                        alt=""></a>
            </div>

        </nav>
    </header class="mb-3">

 