
{% extends 'base.html.twig' %}

{% block title  %} Profil User
{% endblock %}


{% block body %}
     <h1> mes informations </h1>


    </div>
{# FIN du bloc #}



</div>
{# FIN DU CONTAINER #}

{% endblock %}

