<section class="profil-section" id="jaime"  data-next="jeveuxV2" data-prev="jesuis">
    <div class="row">

        <div class="offset-1 col-10">
            <span>
                Mes centres d'intérêts
            </span>
        </div>

        <div class="col-10  gouts">
           
            <div>
                {{ form_widget(UserForm.centerOfInterest, {'attr': {'class': 'btn btn-outline-primary jaimechoice mb-4  '}}) }}
            </div> 
        
        <div class=" col-10">
            <span>
                J'en ai d'autres ...
            </span>
        </div>        
        <div class=" col-10">
            {{ form_widget(UserForm.centerOfInterestPerso, {'attr': {'class': 'stroke-input '}}) }}
        </div>
    </div>
</section> 















{# <input type="checkbox" class="btn-check" id="btn-check-outlined-1" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-1">Animaux</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-2" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-2">Art et culture</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-3" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-3">Musique</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-4" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-4">Bien-être</label>#}
{#</div>

        <div class="col-12 col-md-2 gouts">
            <input type="checkbox" class="btn-check" id="btn-check-outlined-5" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-5">Environnement</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-6" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-6">Sport</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-7" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-7">Danse</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-8" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-8">Food</label>
        </div>

        <div class="col-12 col-md-2 gouts">
            <input type="checkbox" class="btn-check" id="btn-check-outlined-9" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-9">Jeux vidéos</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-10" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-10">Voyage</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-11" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-11">Sciences</label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined-12" autocomplete="off">
            <label class="btn btn-outline-primary jaimechoice mb-4" for="btn-check-outlined-12">Activités sociales</label>
        </div>#}


