<section class="profil-section m-0" id="jeveuxV2" data-next="" data-prev="jaime">
    <div class="row">

        {# DEBUT PARTIE GAUCHE #}
        <div class="offset-md-1 col-md-4">

            {# ROW JE VEUX FESTOYER #}
            <div class="row mb-3">
                <p>Je veux festoyer...</p>
                <div class="col-6  mb-2"> 
                    <input type="radio" name="nombre" value="unepersonne" class="btn-check" id="btn-check-outlined-1" autocomplete="off">
                    <label class="btn btn-outline-primary jeveuxchoice  w-100 h-100" for="btn-check-outlined-1">
                        <img class="iconchoice" src="/assets/img/icones/selection/selection-teteatete-off.svg" alt="">
                        <br>Avec 1 personne
                    </label>
                </div>

                <div class="col-6  mb-2"> 
                    <input type="radio" name="nombre" value="groupe" class="btn-check" id="btn-check-outlined-2" autocomplete="off">
                    <label class="btn btn-outline-primary jeveuxchoice w-100 h-100 pt-3" for="btn-check-outlined-2">
                        <img class="iconchoice" src="/assets/img/icones/selection/selection-groupe-off.svg" alt=""> 
                        <br>En groupe
                    </label>
                </div>
            </div>
            {# FIN DE ROW JE VEUX FESTOYER #}

            {# ROW JE PREFERE FESTOYER #}
            <div class="row mb-3">
                <p>Je préfère festoyer avec...</p>
                <div class="col-4 col-md-6 mb-2"> <!-- PARTIE GAUCHE - PART GAUCHE -->
                    <input type="radio" name="genre" value="femme" class="btn-check" id="btn-check-outlined-3" autocomplete="off">
                    <label class="btn btn-outline-primary jeveuxchoice  w-100 h-100" for="btn-check-outlined-3">
                        <img class="iconchoice" src="/assets/img/icones/selection/selection-female-off.svg" alt="">
                        <br>La gente
                        <br>féminine
                    </label>
                </div>
                <div class="col-4 col-md-6 mb-2"> <!-- PARTIE GAUCHE - PART DROITE -->
                    <input type="radio" name="genre" value="homme" class="btn-check" id="btn-check-outlined-4" autocomplete="off">
                    <label class="btn btn-outline-primary jeveuxchoice  w-100 h-100" for="btn-check-outlined-4">
                        <img class="iconchoice" src="/assets/img/icones/selection/selection-male-off.svg" alt=""> 
                        <br>La gente masculine
                    </label>
                </div>
                <div class="col-4 col-md-6  mb-2"> <!-- PARTIE GAUCHE - PART GAUCHE -->
                    <input type="radio" name="genre" value="indifferent" class="btn-check" id="btn-check-outlined-5" autocomplete="off">
                    <label class="btn btn-outline-primary jeveuxchoice w-100 h-100 py-3" for="btn-check-outlined-5">
                        <img class="iconchoice" src="/assets/img/icones/selection/selection-malefemale-off.svg" alt="">
                        <br>Les deux
                    </label>
                </div>
            </div>
            {# FIN DE ROW JE PREFERE FESTOYER #}

        </div>
        {# FIN PARTIE GAUCHE #}

        {# DEBUT PARTIE DROITE #}
        <div class="offset-md-1 col-md-4">
            <p>Je veux une expérience internationale</p>
            <div class="d-flex mb-3">
                <div class="form-check me-4">
                    <input class="form-check-input" type="radio" name="international" id="oui" value="oui">
                    <label class="form-check-label interchoice" for="oui">Oui</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="international" id="non" value="non">
                    <label class="form-check-label interchoice" for="non">Non</label>
                </div>
            </div>
            <p>Je veux une limite d'âge</p>
            <img src="/assets/img/icones/jauge.svg" alt="">

        </div>
        {# FIN PARTIE DROITE #}
    </div>
    {# DEBUT PARTIE BASE #}
    <div class="row">
        <div class="offset-md-1 col-md-10 criteres"> <!-- PARTIE EN BAS -->
            <p>J'ai des critères rédhibitoires sur ces sujets...</p>
            <p class="tag-menthe-small psmall tag d-inline-block">Politique</p>
            <img src="Assets/icones/croix/croix-noire-small.svg" alt="">
        </div>
    </div>
    {# FIN DE PARTIE BASE #}
</section>

         